@include export-module('input-theme') {
  /*! input theme */

  input.e-input,
  textarea.e-input,
  .e-float-input input {
    background: $input-bg-color;
    border-color: $input-border-color;
    color: $input-font-color;
  }

  .e-input-group .e-input-group-icon {
    background: $input-bg-color;
    border-color: $input-border-color;
    color: $input-button-font-color;
  }

  .e-input[disabled] {
    background: $input-disable-bg-color;
  }

  .e-input[readonly] {
    background: $input-bg-color;
 }

  .e-input-group .e-input-group-btn button {
    background: $input-button-bg-color;
    border-color: $input-border-color;
    color: $input-button-font-color;
  }

  .e-input-group .e-input-group-btn button:hover,
  .e-input-group .e-input-group-icon:hover {
    background: $input-hover-bg-color;
  }

  .e-input-group.e-disabled .e-input-group-btn button:hover,
  .e-input-group.e-disabled .e-input-group-icon:hover {
    background: transparent;
  }

  .e-input.e-success,
  .e-input.e-success:focus,
  .e-input-group.e-success input.e-input,
  .e-input-group.e-success .e-input-group-icon,
  .e-input-group.e-success .e-input-group-btn button,
  .e-input-group.e-success .e-input-group-icon {
    border-color: $input-success-color;
  }

  .e-input.e-warning,
  .e-input.e-warning:focus,
  .e-input-group.e-warning input.e-input,
  .e-input-group.e-warning .e-input-group-icon,
  .e-input-group.e-warning .e-input-group-btn button,
  .e-input-group.e-warning .e-input-group-icon {
    border-color: $input-warning-color;
  }

  .e-input.e-error,
  .e-input.e-error:focus,
  .e-input-group.e-error input.e-input,
  .e-input-group.e-error .e-input-group-icon,
  .e-input-group.e-error .e-input-group-btn button,
  .e-input-group.e-error .e-input-group-icon {
    border-color: $input-error-color;
  }

  .e-input-group.e-success .e-input-group-icon,
  .e-input-group.e-success .e-input-group-btn button,
  .e-input-group.e-success {
    color: $input-success-color;
  }

  .e-input-group.e-warning .e-input-group-icon,
  .e-input-group.e-warning .e-input-group-btn button,
  .e-input-group.e-warning {
    color: $input-warning-color;
  }

  .e-input-group.e-error .e-input-group-icon,
  .e-input-group.e-error .e-input-group-btn button,
  .e-input-group.e-error {
    color: $input-error-color;
  }

  label.e-float-text {
    color: $input-header-font-color;
  }

  .e-float-input input:focus ~ label.e-float-text {
    color: $input-active-accent-color;
  }

  .e-float-input input {
    border-bottom-color: $input-border-color;
  }

  .e-float-input:not(.e-input-group) .e-float-line::before,
  .e-float-input:not(.e-input-group) .e-float-line::after {
    background: $input-active-accent-color;
  }

  .e-input-group:not(.e-disabled) .e-input-group-btn:active button,
  .e-input-group:not(.e-disabled) .e-input-group-icon:active {
    background: $input-group-pressed-bg;
    color: $input-press-font-color;
  }

  input.e-input::selection,
  textarea.e-input::selection,
  .e-float-input input::selection {
    background: $input-accent;
    color: $input-active-font-color;
  }

  // sass-lint:disable no-vendor-prefixes  
  input.e-input::-webkit-input-placeholder {
    color: $input-placeholder;
  }

  // sass-lint:disable no-vendor-prefixes
  input.e-input:-moz-placeholder {
    color: $input-placeholder;
  }

  // sass-lint:disable no-vendor-prefixes  
  input.e-input::-moz-placeholder {
    color: $input-placeholder;
  }

  // sass-lint:disable no-vendor-prefixes  
  input.e-input:-ms-input-placeholder {
    color: $input-placeholder;
  }

  .e-input-group::before,
  .e-input-group::after {
    @include input-group-animation-bg;
  }

  .e-input-group.e-success::before,
  .e-input-group.e-success::after {
    @include input-group-success-animation-bg;
  }

  .e-input-group.e-warning::before,
  .e-input-group.e-warning::after {
    @include input-group-warning-animation-bg;
  }

  .e-input-group.e-error::before,
  .e-input-group.e-error::after {
    @include input-group-error-animation-bg;
  }

  .e-input-group input.e-input {
    border-color: $input-border-color;
  }

  .e-input:focus {
    border-color: $input-active-border-color;
   }

  .e-input-group:not(.e-success):not(.e-warning):not(.e-error) input.e-input:focus {
    border-color: $input-group-active-border-color;
  }

  .e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) {
    border-color: $input-group-border-color-focus;
  }

  .e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) .e-input:focus {
    border-color: $input-border-color;
  }

  .e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) .e-input:first-child:focus,
  .e-input-group.e-input-focus.e-rtl:not(.e-success):not(.e-warning):not(.e-error) span:last-child.e-input-group-icon,
  .e-input-group.e-input-focus.e-rtl:not(.e-success):not(.e-warning):not(.e-error) span:last-child button {
    border-color: $input-group-border-right-focus;
  }

  .e-input-group.e-input-focus.e-rtl:not(.e-success):not(.e-warning):not(.e-error) span.e-input-group-icon,
  .e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) span button,
  .e-input-group.e-input-focus.e-rtl:not(.e-success):not(.e-warning):not(.e-error) span:first-child.e-input-group-icon,
  .e-input-group.e-input-focus.e-rtl:not(.e-success):not(.e-warning):not(.e-error) span:first-child button,
  .e-input-focus.e-rtl:not(.e-success):not(.e-warning):not(.e-error) .e-input:first-child:focus,
  .e-input-focus:not(.e-success):not(.e-warning):not(.e-error) .e-input:last-child:focus,
  .e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) span.e-input-group-icon,
  .e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) span button {
    border-color:  $input-group-border-left-focus;
   }

  .e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) span:first-child.e-input-group-icon,
  .e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) span:first-child button,
  .e-input-group.e-input-focus.e-rtl:not(.e-success):not(.e-warning):not(.e-error) .e-input:last-child:focus,
  .e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) span:first-child.e-input-group-icon,
  .e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) span.e-input-group-icon:first-child button {
    border-color: transparent;
   }

  .e-input-group:not(.e-success):not(.e-warning):not(.e-error) {
    border-color: $input-group-full-border-color;
  }

  .e-input-group {
    border-bottom-color: $input-border-color;
   }

  .e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) .e-input:focus {
    border-bottom-color: transparent;
    border-top-color: transparent;
  }

  .e-input-group.e-success,
  .e-input-group.e-warning,
  .e-input-group.e-error {
    border-color: transparent;
  }

  .e-input-group.e-success {
    border-bottom-color: $input-group-success-color;
  }

  .e-input-group.e-warning {
    border-bottom-color: $input-group-warning-color;
  }

  .e-input-group.e-error {
    border-bottom-color: $input-group-error-color;
  }

}
